In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import acquire
import prepare
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.metrics import classification_report, confusion_matrix, plot_confusion_matrix
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
import warnings
warnings.filterwarnings('ignore')

In [2]:
data = acquire.get_telco_data()

In [3]:
data = prepare.prep_telco(data)

In [4]:
data.head()

,senior_citizen,tenure,monthly_charges,total_charges,churn,gender_Male,partner_Yes,dependents_Yes,phone_service_Yes,multiple_lines_Yes,...,contract_type_Month-to-month,contract_type_One year,contract_type_Two year,internet_service_type_DSL,internet_service_type_Fiber optic,internet_service_type_None,payment_type_Bank transfer (automatic),payment_type_Credit card (automatic),payment_type_Electronic check,payment_type_Mailed check
0,0,9,65.6,593.30,True,0,1,1,1,0,...,0,1,0,1,0,0,0,0,0,1
1,0,9,59.9,542.40,True,1,0,0,1,1,...,1,0,0,1,0,0,0,0,0,1
2,0,4,73.9,280.85,True,1,0,0,1,0,...,1,0,0,0,1,0,0,0,1,0
3,1,13,98.0,1237.85,True,1,1,0,1,0,...,1,0,0,0,1,0,0,0,1,0
4,1,3,83.9,267.40,True,0,1,0,1,0,...,1,0,0,0,1,0,0,0,0,1

In [22]:
data.head()

In [5]:
data.dtypes

senior_citizen                              int64
tenure                                      int64
monthly_charges                           float64
total_charges                             float64
churn                                        bool
gender_Male                                 uint8
partner_Yes                                 uint8
dependents_Yes                              uint8
phone_service_Yes                           uint8
multiple_lines_Yes                          uint8
online_security_Yes                         uint8
online_backup_Yes                           uint8
device_protection_Yes                       uint8
tech_support_Yes                            uint8
streaming_tv_Yes                            uint8
streaming_movies_Yes                        uint8
paperless_billing_Yes                       uint8
contract_type_Month-to-month                uint8
contract_type_One year                      uint8
contract_type_Two year                      uint8
internet_service_type_DSL                   uint8
internet_service_type_Fiber optic           uint8
internet_service_type_None                  uint8
payment_type_Bank transfer (automatic)      uint8
payment_type_Credit card (automatic)        uint8
payment_type_Electronic check               uint8
payment_type_Mailed check                   uint8
dtype: object

In [44]:
data['multiple_lines_No phone service']

0       0
1       0
2       0
3       0
4       0
       ..
7038    0
7039    0
7040    0
7041    0
7042    1
Name: multiple_lines_No phone service, Length: 7043, dtype: uint8